* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*居中*/

.double-zhong {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


/*图片*/

img {
    width: 500px;
    height: 300px;
    transition: filter 1s,-webkit-filter 1s;
}


/*边框初始化*/

#bd1 {
    width: 0px;
    height: 200px;
    transition: width 1s;
}

#bd2 {
    width: 350px;
    height: 0px;
    transition: height 1s;
}


/*文本*/

#text {
    width: 350px;
    height: 200px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    padding-top: 75px;
    transition: padding .8s;
}


/*文本透明*/

p,
a {
    color: transparent;
}


/*图片模糊*/

#box:hover img {
    filter: blur(2px);
    -webkit-filter: blur(2px);    
}


/*边框绘制*/

#box:hover #bd1 {
    border-top: 4px solid #eee;
    border-bottom: 4px solid #eee;
    width: 350px;
}

#box:hover #bd2 {
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    height: 200px;
}


/*文本上移*/

#box:hover #text {
    padding-top: 55px;
}


/*文字流光*/

#box:hover p,
#box:hover a {
    background: -webkit-linear-gradient(left, #D81159, #E53A40 10%, #FFBC42 20%, #75D701 30%, #30A9DE 40%, #D81159 50%, #E53A40 60%, #FFBC42 70%, #75D701 80%, #30A9DE 90%, #D81159);
    background: -moz-linear-gradient(left, #D81159, #E53A40 10%, #FFBC42 20%, #75D701 30%, #30A9DE 40%, #D81159 50%, #E53A40 60%, #FFBC42 70%, #75D701 80%, #30A9DE 90%, #D81159);
    background: -o-linear-gradient(left, #D81159, #E53A40 10%, #FFBC42 20%, #75D701 30%, #30A9DE 40%, #D81159 50%, #E53A40 60%, #FFBC42 70%, #75D701 80%, #30A9DE 90%, #D81159);
    background: linear-gradient(to right, #D81159, #E53A40 10%, #FFBC42 20%, #75D701 30%, #30A9DE 40%, #D81159 50%, #E53A40 60%, #FFBC42 70%, #75D701 80%, #30A9DE 90%, #D81159);
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: mygo 3s linear infinite;
}

@keyframes mygo {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}